ipykernel
matplotlib
numpy
pandas
seaborn
scikit-learn
tree
torch
#tensorflow==2.10
langchain
langgraph
Ipykernel
dotenv
langchain_google_genai
langchain_community
tqdm
pypdf
langchain_huggingface
sentence_transformers
tf-keras
chromadb
langchain_google_vertexai